* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #e8e8e8 url("../img/Ellipse_1_copy.png") 50% 130px no-repeat;
}

.content {
  padding: 168px 0 137px 0;
  max-width: 841px;
  margin: 0px auto;
}

.content-top {
  text-align: center;
  margin: 0px 0px 65px 0px;
}

.content-top__category {
  color: #748187;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin: 0px 0px 15px 0px;
}

.content-top__title {
  color: #273d46;
  font-size: 36px;
  line-height: 50px;
  max-width: 725px;
  margin: 0px auto;
}

.content__image {
  box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
  background-color: #fff;
  padding: 10px;
  margin-bottom: 85px;
}

.content__image img {
  max-width: 100%;
}

.content-bottom {
  padding: 0 45px;
}

.content-bottom__text {
  color: #53646b;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 48px;
}

.content-bottom__text p {
  margin-bottom: 40px;
}

.content-bottom__text p:first-child:first-line {
  color: red;
}

.content-bottom__text p:last-child {
  margin-bottom: 0px;
}

.content-bottom__text p:last-child::first-letter {
  color: red;
  font-size: 40px;
}

.content-bottom-info-list {
  margin-bottom: 59px;
}

.content-bottom-info-list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 0 15px 0;
}

.content-bottom-info-list li::before {
  content: url("../img/icons/check_icon.png");
  color: red;
  margin-right: 11px;
}

.content-bottom-info-list li:last-child {
  margin: 0;
}

.content-bottom-info-list li:nth-child(1) {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #273d46;
}

.content-bottom-info-list li:nth-child(1):hover {
  text-transform: uppercase;
}

.content-bottom-info-list li:nth-child(2) {
  color: #80b7b3;
  font-style: italic;
}

.content-bottom-info-list li:nth-child(2):hover {
  color: #273d46;
  font-style: normal;
}

.content-bottom-info-list li:nth-child(3) {
  color: #273d46;
  font-weight: 700;
}

.content-bottom-info-list li:nth-child(3):hover {
  color: red;
  font-weight: normal;
}

.content-bottom-info-list li:nth-child(3):hover::before {
  content: url("");
}

.content-bottom-info-list li:nth-child(4) {
  opacity: 0.3;
  color: #273d46;
  text-decoration: line-through;
}

.content-bottom-info-list li:nth-child(4):hover {
  opacity: 1;
  text-decoration: none;
}

.content-bottom-info__link {
  height: 44px;
  display: inline-block;
  line-height: 44px;
  border-radius: 24px;
  padding: 0 30px;
  background-color: #80b7b3;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin-bottom: 20px;
}

.content-bottom-info__link span {
  background: url("../img/icons/Shape_2.svg") right no-repeat;
  padding-right: 30px;
}

.content-bottom-info__link:hover {
  background-color: #3a5856;
  box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
}

.content-bottom-info__link:active {
  background-color: #818181;
}

.text-input {
  display: block;
  width: 292px;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  border: 1px solid #b0b0b0;
}

.text-input:focus {
  box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
}
